.logoutContainer {
    display: flex;
    justify-content: center;
}

.logout {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(64, 64, 138);
    color: rgb(226, 226, 226);
}